[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
[submodule "external/la"]
	path = external/la
	url = git@github.com:SamP-S/LA.git
[submodule "external/bgfx"]
	path = external/bgfx
	url = git@github.com:bkaradzic/bgfx.git
